{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asliddin Todo</title>
    <h2><a href="{% url 'create-post' %}">Add post</a></h2>
</head>
<body>
    
    <header>
        <h1><a href="{% url 'index' %}">Asliddin Todo</a></h1>
    </header>
    <div>
        {% block content %}
        
        {% endblock content %}
    </div>

</body>
</html>